.Result{
display: flex;
flex-direction: row;

background-color: #fff;
box-shadow: 5px 5px 20px 10px rgb(153, 153, 184);
padding: 20px;
justify-content: space-between;
margin: 20px 0;
width: 70%;
}

.Income{
    color: green;
    margin: 20px
}

.Expense{
    color: red;
    margin: 20px;

}
h4{
    color: black;
}